* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    background: black;
}

h1 {
    z-index: 3;
    position: absolute;
    font: bold 100px/100px Arial, sans-serif;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    width: 100%;
    margin-left: -50%;
    height: 200px;
    text-align: center;
}

.blur {
    color: transparent;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.blur:hover {
    color: white;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.5),
      -3px 0 0px rgba(0, 0, 0, 0.5),
      0 -3px 0px rgba(0, 0, 0, 0.5),
      5px 5px 0px rgba(0, 0, 0, 0.5);
}
